### Question 3:
Take Fisher Iris Dataset. Split it into 70% for training and 30% for testing. Assess the accuracy with KNN classifier for K = 1, 3, 5, 7, 9, 11. You can use built-in functions.

In [2]:
import numpy as np
from sklearn import datasets
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix, accuracy_score
from sklearn.neighbors import KNeighborsClassifier

In [3]:
#Load
iris = datasets.load_iris()
x = iris.data
y = iris.target

In [4]:
columns = iris.feature_names
columns

['sepal length (cm)',
 'sepal width (cm)',
 'petal length (cm)',
 'petal width (cm)']

In [5]:
target = iris.target_names
target

array(['setosa', 'versicolor', 'virginica'], dtype='<U10')

In [11]:
iris_main = pd.DataFrame(x , columns=[columns])
iris_main

    sepal length (cm) sepal width (cm) petal length (cm) petal width (cm)
0                 5.1              3.5               1.4              0.2
1                 4.9              3.0               1.4              0.2
2                 4.7              3.2               1.3              0.2
3                 4.6              3.1               1.5              0.2
4                 5.0              3.6               1.4              0.2
..                ...              ...               ...              ...
145               6.7              3.0               5.2              2.3
146               6.3              2.5               5.0              1.9
147               6.5              3.0               5.2              2.0
148               6.2              3.4               5.4              2.3
149               5.9              3.0               5.1              1.8

[150 rows x 4 columns]

In [12]:
iris_last = pd.DataFrame(y , columns=['target'])
iris_last

     target
0         0
1         0
2         0
3         0
4         0
..      ...
145       2
146       2
147       2
148       2
149       2

[150 rows x 1 columns]

In [13]:
X = iris_main.copy()
Y = iris_last.copy()

In [14]:
X_TRAIN, X_TEST, Y_TRAIN, Y_TEST = train_test_split(X, Y, test_size =0.3)

#### K=1

In [15]:
knn_classifier = KNeighborsClassifier(n_neighbors=1)
knn_classifier.fit(X_TRAIN, Y_TRAIN)

<ipython-input-15-9d37b9d50445>:2: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  knn_classifier.fit(X_TRAIN, Y_TRAIN)

KNeighborsClassifier(n_neighbors=1)

In [85]:
Y_PRED_TEST = knn_classifier.predict(X_TEST)

In [86]:
Y_PRED_TEST

array([0, 0, 0, 2, 1, 0, 0, 1, 2, 1, 2, 1, 2, 0, 2, 0, 2, 1, 1, 0, 1, 1,
       2, 1, 2, 0, 2, 2, 1, 0, 1, 2, 2, 2, 0, 2, 2, 2, 0, 0, 0, 2, 2, 1,
       0])

In [87]:
print(f'Test Accuracy = {accuracy_score(Y_TEST, Y_PRED_TEST)}')

Test Accuracy = 0.9333333333333333

#### K=3

In [88]:
knn_classifier = KNeighborsClassifier(n_neighbors=3)
knn_classifier.fit(X_TRAIN, Y_TRAIN)

<ipython-input-88-0e5edd7f4ef4>:2: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  knn_classifier.fit(X_TRAIN, Y_TRAIN)

KNeighborsClassifier(n_neighbors=3)

In [89]:
Y_PRED_TEST = knn_classifier.predict(X_TEST)
print(f'Test Accuracy = {accuracy_score(Y_TEST, Y_PRED_TEST)}')

Test Accuracy = 0.9555555555555556

#### K=5

In [90]:
knn_classifier = KNeighborsClassifier(n_neighbors=5)
knn_classifier.fit(X_TRAIN, Y_TRAIN)
Y_PRED_TEST = knn_classifier.predict(X_TEST)
print(f'Test Accuracy = {accuracy_score(Y_TEST, Y_PRED_TEST)}')

Test Accuracy = 0.9777777777777777

<ipython-input-90-1473a9ef10f9>:2: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  knn_classifier.fit(X_TRAIN, Y_TRAIN)

#### K=7

In [91]:
knn_classifier = KNeighborsClassifier(n_neighbors=7)
knn_classifier.fit(X_TRAIN, Y_TRAIN)
Y_PRED_TEST = knn_classifier.predict(X_TEST)
print(f'Test Accuracy = {accuracy_score(Y_TEST, Y_PRED_TEST)}')

Test Accuracy = 0.9777777777777777

<ipython-input-91-f37b932d61f3>:2: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  knn_classifier.fit(X_TRAIN, Y_TRAIN)

#### K=9

In [92]:
knn_classifier = KNeighborsClassifier(n_neighbors=9)
knn_classifier.fit(X_TRAIN, Y_TRAIN)
Y_PRED_TEST = knn_classifier.predict(X_TEST)
print(f'Test Accuracy = {accuracy_score(Y_TEST, Y_PRED_TEST)}')

Test Accuracy = 0.9777777777777777

<ipython-input-92-9c3e2db87573>:2: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  knn_classifier.fit(X_TRAIN, Y_TRAIN)

#### K=11

In [93]:
knn_classifier = KNeighborsClassifier(n_neighbors=11)
knn_classifier.fit(X_TRAIN, Y_TRAIN)
Y_PRED_TEST = knn_classifier.predict(X_TEST)
print(f'Test Accuracy = {accuracy_score(Y_TEST, Y_PRED_TEST)}')

Test Accuracy = 0.9555555555555556

<ipython-input-93-916f1888ddcc>:2: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  knn_classifier.fit(X_TRAIN, Y_TRAIN)